@import url('https://fonts.googleapis.com/css?family=Geo|Open+Sans:400,700');
/*//// LAYOUT //// */
header{
  text-align: center;
  position:fixed;
  top:0;
  width:100%;
  height: auto;
  background-color: white;
  overflow: hidden;
  border-bottom: .1em solid black;
}
aside {
  width:25%;
  float:right;
  position: fixed;
  right: 2em;
  border: .1em solid black;
  background-color: white;
}
section {
  width: 65%;
  margin-top: 10em;
  padding-left: 3em;
  background-color: white;
  padding-right: 1.75em;
}

footer {
  background:black;
  color: white;
  bottom: 0;
  text-align: center;
  height: 25%;
}

body {
  background-color: r
}
/*/// HEADER ///*/
header img {
  height:1em;
}

header h1 {
  font-family: 'Geo', sans-serif;
  font-size: 5em;
  margin: 0 auto .1em auto;
}

header h1:hover {
  color:gray
}

nav>ul{
  list-style-type: none;
  margin:0;
  padding:0;
  width:100%;
  overflow:hidden;

}

.nav_item{
  display: inline;
}

.nav_item a{
  color:black;
  text-align:center;
  text-decoration: none;
  padding: .3em .3em;
  font-family: 'Geo';
  font-size: 1.75em;
  background-color:white;
}

.nav_item a:hover{
  color:white;
  text-align:center;
  text-decoration: none;
  padding: .3em .3em;
  font-family: 'Geo';
  font-size: 1.75em;
  background-color:gray;
}

/*/// ASIDE ///*/
aside ul {
  list-style-type: none;
  padding-left: 1em;
}
aside li {
  font-family: 'Geo', sans-serif;
  font-size: 1.5em;
}
aside li:hover {
  color: red;
}

aside p {
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  display:block;
  margin-left: .5em;
}

aside h2 {
  font-family: 'Geo', sans-serif;
  font-size: 1.9em;
  text-align:center;
}

/* ////// SECTION ///// */
#job_history {
  font-family: 'Geo', sans-serif;
  font-size: 4em;
  text-align: center;
  margin: 0 auto.5em auto
}
.company {
  font-family: 'Geo', sans-serif;
  font-size: 3em;
  margin: 0 auto;
}
.truth:hover {
  color: rgb(244, 123, 32);
}
[alt="truth_image"]{
  height: 10em;
  display:block;
  float:right;
  clip: rect(140px 0px 0px 0px);
}
span {
  font-family: 'Geo';
  font-size: 1.3em
}

section p {
  font-family: 'Open Sans', sans-serif;
}
.Job_Description>p {
  padding-left:1.5em;
}

.Position {
  font-weight:bold;
  display:inline;
}
.timeline {
  display:inline;
  margin: 0 0 0 0;
  float:right;
}
.Position2 {
  font-weight:bold;
  display:inline;
}
.timeline2 {
  display:inline;
  margin: 0 0 0 0;
  float:right;
}
.companyDescription {
  font-style: italic;
}
.companyDescription, .Position2, .Position, .timeline, .timeline2 {
  padding-left: 1em
}

.erodr:hover {
  color:rgb(1,	153,	52)
}

.afi_docs:hover{
  color:rgb(230,25,62)
}
/* //// FOOTER ///// */
footer p {
  padding: 2em 0 1em 0;
  font-family: 'Geo', sans-serif;
  font-size: 1.5em;
}

/* ///////MEDIA QUERIES ////////*/
@media screen and (max-width: 482px) {
   /*////// Mobile Layout //////*/
  header {
    height: 30%;
    z-index: 1;
    width:100%
  }
  header h1{
    margin: 0 0 0 0;
    line-height:
  }
  aside {
    float: none;
    width: 100%;
    margin-top: 50%;
    position:relative;
    right: 0;
    margin-bottom: 1em;
  }
  section{
    width: 100%;
    padding-left: .1em;
    margin-top: 0;
  }
.annoying_div{
    margin-top:1.5em;
  }
}
